body {
	background: url('/back2.jpg') #cccccc 0 0;
	font-family:verdana, sans-serif;
}

a:link, a:visited {
	color: #384154;
	text-decoration: none;
}

p {

	font-size:8pt;
}

h3, h4 {
	font-size:12pt;
}

h2 {
	border-bottom:2px dashed #333;
	padding:0 0 5px 0;
	color:#000;
	font-size:16px; font-family:helvetica, sans-serif; padding-top:15px;
}

h3 {
	border-bottom:1px dashed #333; width:300px;
}

a:hover {
	background-color: black;
	color: #CCCCCC;
}
